.InfoCard {
  border: 1px solid lightgray;
  margin: 20px;
  width: 50%;
  text-align: start;
  padding: 20px;
  background-color: white;
}

.InfoCard-Header {
  display: flex;
  align-items: center;
}

.InfoCard-Title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
}

.InfoCard-Date {
  margin-left: auto;
}

.InfoCard-Position {
  font-size: 24px;
}
