.ItemGroup {
  display: flex;
}

.Item {
  background: #ef3e36;
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 1px 2px 3px gray;
  border: 1px solid gray;
}
