.Projects-Card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 10px gray;
  height: 300px;
}

.Projects-Card > img {
  width: 40%;
  object-fit: cover;
}

.Projects-CardBody {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 18px;
}

.Card-Body-Title {
  font-size: 32px;
}

.card-img {
  height: 100%;
}
